
body {
  background-color: rgb(26,178,107);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 2rem;
}

#searchBox {
  outline: none;
  border: none;
  border-radius: 500px;
  font-size: 1.75em;
  padding: 10px;
  text-align: center;
  color: #424242;
  box-shadow: 0px 2px 1px rgba(0,0,0, 0.5);
  width: 60%;
}

#searchBox:active {
  box-shadow: 0px 3px 5px rgba(0,0,0, 0.5);
}

/* browser support */

#searchBox::-webkit-input-placeholder {
   color: black;
}

#searchBox:-moz-placeholder { /* Firefox 18- */
   color: black;
}

#searchBox::-webkit-input-placeholder {
   color: rgba(0,0,0,0.5);
}

#searchBox:-moz-placeholder { /* Firefox 18- */
   color: rgba(0,0,0,0.5);
}

#searchBox::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0,0,0,0.5);
}

#searchBox:-ms-input-placeholder {
   color: rgba(0,0,0,0.5);
}

#searchBtn {
  border-radius: 100%;
  border: none;
  background-color: rgba(255,255,255,0.3);
  font-size: 2.25em;
  padding: 10px;
  width: 80px;
  height: 80px;
  margin-left: 1rem;
  color: rgb(255,255,255);
  box-shadow: 0px 2px 1px rgba(0,0,0, 0.5);
  cursor: pointer;
}

img {
  width: 75%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

.welcome,
.underWelcome {
  font-family: 'Signika', sans-serif;
  text-align: center;
  padding: 50px;
  font-size: 2.25em;
  background-color: #000;
  color: white;
  border-radius: 3px;
}

.underWelcome {
  background-color: #212121;
  font-size: 2em;
}

.underWelcome a {
  color: rgb(26,178,107);
  text-decoration: none;
}


/* Media Queries */

@media only screen and (max-width: 700px) {
  #searchBox {
    font-size: 1.5em;
    padding: 5px;
  }
}
