.search {
  width: 200px;
  margin: 0 auto;
}
#searchBox {
  outline: none;
  border-radius: 500px;
  border: 1px solid black;
}

#searchBtn {
  border-radius: 500px;
  border: 1px solid black;
}

img {
  width: 500px;
  display: block;
  margin: 0 auto;
}
